<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
    {% include head.html %}

    <!-- HEADER IMAGE -->
    <!-- <center>
        <span class="main-header-image">
            <a href="/"><img src="/images/header/clean-and-simple-header.jpg"></a>
        </span>
    </center> -->
    <br>
    <center>
        <span class="main-header-image">
            <h1 style="font-weight:100; font-kerning:normal"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
            <h3 style="font-weight:100; font-kerning:normal">{{ site.description }}</h3>
        </span>
    </center>

    <!-- NAVIGATION -->
    <br>
    {% include navigation.html %}
</head>

<!-- BODY -->
<body id="post-index">
    {% include browser-upgrade.html %}

    <div id="main" role="main">
        <article class="hentry">
            
            {% if page.featured_image %}
            <div class="featured_image">
            <img src="{{ site.baseurl }}{{ page.featured_image }}" style="width:100%">
            </div>
            {% endif %}

            <!-- MAIN -->
            <h1 class="entry-title">
                <a>{{ page.title }}</a>
            </h1>
            <h3 class="entry-subtitle">
                <a>{{ page.subtitle }}</a>
            </h3>

            <hr>

            <!-- POST CONTENT -->
            <div class="entry-content">
                {{ page.content }}
            </div>

            <!--- DIVIDING LINE -->
            <hr>

            <!-- POST TAGS -->
            <div class="inline-tags">
                <span>
                    {% for tag in page.tags %}
                        <a href="{{ site.baseurl }}/tags/#{{tag}}">#{{ tag }}&nbsp;&nbsp;&nbsp;</a>
                    {% endfor %}
                </span>
            </div>

            <br>

            <!-- POST DATE -->
            <div class="post-date">
                {{ page.date-string }}
            </div>
        </article>

        {%- if site.enable_mermaid -%}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.9.2/mermaid.min.js"></script>
        <script type="text/javascript">
        (function() {
            mermaid.init({startOnLoad:true}, "pre code.language-mermaid", function() {
                var codeBlock = document.querySelector('code.language-mermaid');
                var preBlock = codeBlock.parentNode;

                codeBlock.style.backgroundColor = 'initial';
                preBlock.style.border = 'none';
                preBlock.style.textAlign = 'center';
                preBlock.style.backgroundColor = 'initial';
            });
        })()
        </script>
        {%- endif -%}

        <div id="gitalk-container"></div>
        <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
        <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
        <script>
        var gitalk = new Gitalk({
            clientID: "3082b23aa6843b339e3e",
            clientSecret: "a256ecf9a5a4cd17eb8944cfbcdf1e7d3b204b7f",
            repo: "ChloroBlog",
            owner: "Chlorie",
            admin: ["Chlorie"],
            id: location.pathname.slice(0, 50),      // Ensure uniqueness and length less than 50
            distractionFreeMode: false  // Facebook-like distraction free mode
        })
        gitalk.render('gitalk-container')
        </script>
    </div>
</body>

<!-- FOOTER -->
<footer>
    <div class="footer-wrapper">
        <footer role="contentinfo">
            {% include footer.html %}
        </footer>
    </div>
</footer>
</html>
